body {
  background-color: #282c34;
}

.Header {
  text-align: center;
}

.Header-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header-header-h1 {
  
}

.Main {

}

.Main-h1 {
  text-align: center;
  color: white;
}

.Photos {
  margin: 10px;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Image {
  border-radius: 15px;
  margin: 10px;
}

.Footer-footer {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Form {
  width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    padding: 15px;
    color: #c5c3c3;
}

.rows {
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  row-gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}

.inputs {
  display: grid;
  grid-template-rows: max-content;
  row-gap: 10px;
  align-items: flex-end;
  justify-content: flex-end;
}

.btn {
  width: 5rem;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.btn--submit {
  margin-right: 1rem;
  background-color: cornflowerblue;
}

.btn--submit:disabled {
  background-color: #ccd8ec;
}

.btn--reset {
  background-color: #c5c3c3;
}

.result {
  background-color: grey;
  border-style: solid;
  width: 400px;
  height: 250px;
  color: black;
  font-size: 14px;
  font-weight: 100;
}

span {
  line-height: 32px;
  margin-left: 10px;
  color: #800;
  font-weight: bold;
}